# System Requirement Specification

Based on the user's request, please generate a detailed system requirement specification.

## User's Request
{{ user_instructions }}

Please generate the following sections:
- Functional Requirements
- Non-functional Requirements
- Out of Scope
- Questions to the user
